Repository nrkno/nodecache-as-promised: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{scss,json}": ["prettier --write", "git add"],
  "*.{js,jsx}": ["prettier --write", "eslint", "git add"]
}

update eslint config
  .eslintrc
  src/_spec/index.spec.js
  src/utils/_spec/debug.spec.js
  test/test-runner.js
Due: prettier --write, eslint

doc typo: s/imiplicit/implicit/
  README.md
Due: none

Updating package deps, removed yarn
  .babelrc
  .npmrc
  package-lock.json
  package.json
  test/mocha.opts
  yarn.lock
Due: prettier --write

v1.2.0
  package-lock.json
  package.json
Due: prettier --write

v1.2.1
  package-lock.json
  package.json
Due: prettier --write

Support that worker responses may set the ttl for a cache entry
  src/index.js
Due: prettier --write, eslint

Release minor 1.3.0
  package-lock.json
  package.json
Due: prettier --write

upgrade dependencies
  package-lock.json
  package.json
  src/index.js
  src/utils/_spec/debug.spec.js
Due: prettier --write, eslint

upgrade to rxjs@6.3.3
  package-lock.json
  package.json
  src/utils/cache-helpers.js
Due: prettier --write, eslint

release 1.3.1
  package-lock.json
  package.json
Due: prettier --write

build on publish; release 1.3.2
  package.json
Due: prettier --write

upgrade dependencies
  package-lock.json
  package.json
Due: prettier --write

Updated dependencies
  package-lock.json
  package.json
Due: prettier --write

Updated README with publish instructions
  README.md
Due: none

Release patch 1.3.3
  package-lock.json
  package.json
Due: prettier --write

Updated README
  README.md
Due: none

update node version
  package.json
Due: prettier --write

release 1.3.4
  package.json
Due: prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

NRNKO-6235: run npm audit fix
  package-lock.json
Due: prettier --write

NRKNO-6235: upgrade babel
  package-lock.json
  package.json
Due: prettier --write

NRNKO-6235: update lint-staged
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

NRNKO-6235: upgrade yargs
  package-lock.json
  package.json
Due: prettier --write

NRKNO-6235: move pre-commit to husky
  package.json
Due: prettier --write

NRKNO-6235: Upgrade to Mocha 10 to remove security vulnerability
  package-lock.json
  package.json
Due: prettier --write

NRKNO-6235: upgrade prettier
  package-lock.json
  package.json
  src/utils/debug.js
Due: prettier --write, eslint

NRKNO-6235: update nyc and sinon
  package-lock.json
  package.json
Due: prettier --write

NRKNO-6235: Update ESLint version and ecmaVersion to support spread operator
  .eslintrc
  package-lock.json
  package.json
Due: prettier --write

NRKNO-6235: update chalk and husky
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

NRKNO-6235: add Volta to package.json with node18 and npm8
  package.json
Due: prettier --write

Release major 2.0.0
  package-lock.json
  package.json
Due: prettier --write

update deps
  package-lock.json
  package.json
Due: prettier --write

Release patch 2.0.1
  package-lock.json
  package.json
Due: prettier --write
